<header class="main-header">
    <!-- Logo -->
    <a href="<%= root_path %>" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">M2<b>Y</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg">Mobile2<b>you</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label <% if @current_user.notifications.count > 0 %> label-warning <% else %> label-default <% end %>"><%= @current_user.notifications.count %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">Você tem <%= pluralize(@current_user.notifications.count, 'Notificação', 'Notificações') %></li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <% @current_user.notifications.each do |n| %>
                    <li>
                      <a href="#" data-toggle="tooltip" data-placement="left" title="<%= n.description %>">
                        <i class="fa <%= n.icon %>"></i> <%= n.description %>
                      </a>
                    </li>
                  <% end %>
                  <!-- <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li> -->
                </ul>
              </li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= @current_user.picture.url(:thumb) %>" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= @current_user.name %></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<%= @current_user.picture.url(:thumb) %>" class="img-circle" alt="User Image">

                <p>
                  <%= @current_user.name %>
                  <small>Membro desde <%= @current_user.created_at.strftime('%d de %b, %Y') %></small>
                </p>
              </li>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="<%= profile_path %>" class="btn btn-default btn-flat"><i class="fa fa-user"></i> &nbsp; Perfil</a>
                </div>
                <div class="pull-right">
                  <a href="<%= sign_out_path %>" class="btn btn-default btn-flat"><i class="fa fa-power-off"></i> &nbsp; Sair</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
