<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= @current_user.picture.url(:thumb) %>" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= @current_user.name %></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">PRINCIPAL</li>
        <li class="treeview">
          <a href="<%= root_path %>">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li <% if request.fullpath == '/clients' || request.fullpath == '/clients/new' %> class="active treeview" <% else %> class="treeview" <% end %> >
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Clientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li <% if request.fullpath == '/clients/new' %> class="active" <% end %> ><a href="<%= new_client_path %>"><i class="fa fa-user-plus"></i> Novo Cliente</a></li>
            <li <% if request.fullpath == '/clients' %> class="active" <% end %> ><a href="<%= clients_path %>"><i class="fa fa-user"></i> Ver Clientes</a></li>
          </ul>
        </li>
        <li <% if request.fullpath == '/users' || request.fullpath == '/users/new' %> class="active treeview" <% else %> class="treeview" <% end %> >
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Usuários</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li <% if request.fullpath == '/users/new' %> class="active" <% end %> ><a href="<%= new_user_path %>"><i class="fa fa-user-plus"></i> Novo Usuário</a></li>
            <li <% if request.fullpath == '/users' %> class="active" <% end %> ><a href="<%= users_path %>"><i class="fa fa-user"></i> Ver Usuários</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-laptop"></i>
            <span>Backlog</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>