<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mobile2you | Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/font-awesome-4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
  <link rel="stylesheet" href="/dist/css/css.css">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <%= render 'header' %>
  
  <%= render 'sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= @project.name %>
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= root_path %>" ><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active"><%= @project.name %></li>
      </ol>
    </section>
    
    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-md-4">
          <% @project.stages.order(created_at: :asc).each_with_index do |s,key| %>
            <% if s.status < 33 
                color = 'bg-red'
               elsif s.status < 66 
                color = 'bg-yellow'
              else 
                color = 'bg-green'
              end %>
            <!-- Info Boxes Style 2 -->
            <div class="info-box stage-name <%= color %> <% if key == 0 %> active <% end %>" name-id="<%= s.id %>" >
              <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

              <div class="info-box-content">
                <span class="info-box-text"><%= s.name %></span>
                <span class="info-box-number"><%= s.status %> %</span>

                <div class="progress">
                  <div class="progress-bar" style="width: <%= s.status %>%;"></div>
                </div>
                    <span class="progress-description pull-right">
                      Detalhes >
                  </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          <% end %>
           
        </div>
        <div class="col-md-8">
          <% @project.stages.order(created_at: :asc).each_with_index do |s,key| %>
          <div class="box stage-content <% if key != 0 %> hidden-box <% end %>" content-id="<%= s.id %>" >
            <div class="box-header with-border">
              <h3 class="box-title"><%= s.name %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Passo</th>
                  <th>Imagem</th>
                  <th>Aprovação</th>
                  <th>Progresso</th>
                  <th style="width: 40px">Label</th>
                  <th style="width:115px"></th>
                </tr>

                <% s.hops.order(created_at: :asc).each_with_index do |c,key| %>
                
                <tr>
                  <td><%= key %>.</td>
                  <td><%= c.name %></td>
                  <td>
                    <% if c.has_image %>
                    <% else %>
                    Não Possui
                    <% end %>
                  </td>
                  <td>
                    <% if c.approved %> 
                      <label class="label label-default">Aprovado</label> 
                    <% else %>
                      <% if c.status == 100 %> 
                        <% if @current_user.rg.blank? && @current_user.cpf.blank? %>
                          <button type="button" onclick="alert('Complete seu cadastro para poder aprovar este Item')" class="btn btn-success btn-sm">Aprovar</button>
                        <% else %>
                          <button type="button" data-toggle="modal" data-target="#terms-<%= c.id %>" class="btn btn-success btn-sm">Aprovar</button>
                        <% end %>
                      <% else %>
                        <label class="label label-warning">Bloqueado</label> 
                      <% end %>
                    <% end %></td>
                  <td>        
                    <div class="progress progress-xs">
                      <% if c.status < 33 %>
                        <div class="progress-bar progress-bar-danger" style="width: <%= c.status %>%"></div>
                      <% elsif c.status < 66 %>
                        <div class="progress-bar progress-bar-warning" style="width: <%= c.status %>%"></div>
                      <% else %>
                        <div class="progress-bar progress-bar-success" style="width: <%= c.status %>%"></div>
                      <% end %>
                    </div>
                  </td>
                  <td>
                    <% if c.status < 33 %>
                      <span class="badge bg-red"><%= c.status %>%</span>
                    <% elsif c.status < 66 %>
                      <span class="badge bg-orange"><%= c.status %>%</span>
                    <% else %>
                      <span class="badge bg-green"><%= c.status %>%</span>
                    <% end %>
                  </td>
                  <td>
                    <div class="btn-group">
                          <button type="button" class="btn btn-default">Opções</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#new-comment-<%= c.id %>" data-toggle="modal"><i class="fa fa-commenting-o"></i> Comentar</a></li>
                              <li><a href="#comments-<%= c.id %>" data-toggle="modal" ><i class="fa fa-comments-o"></i> Ver Comentários</a></li>
                          </ul>
                      </div>
                  </td>
                </tr>

                <div id="comments-<%= c.id %>" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Comentários</h4>
                      </div>
                        <div class="modal-body">
                          <% c.comments.order(created_at: :desc).each do |comment| %>
                            <div class="comentario">
                              <small>Comentario de <%= comment.user.name %> <span class="pull-right"><%= comment.created_at.strftime('%d/%m/%y as %H:%I') %></span> </small><br>
                              <br>
                                <%= comment.comment %>
                                <br><br>
                                <% if comment.has_image %>
                                  <div class="text-center">
                                    <img src="<%= comment.picture %>" style="max-width:100%" alt="Imagem" title="Imagem">
                                  </div>
                                <% end %>
                            </div>
                          <% end %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div id="new-comment-<%= c.id %>" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Novo Comentário</h4>
                      </div>
                      <%= form_for :comment, url: new_comment_path do |f| %>
                        <div class="modal-body">
                          <%= f.label :comentário %>
                          <%= f.text_area :comment, :class => 'form-control', :placeholder => 'Comentário' %>
                          <%= f.hidden_field :has_image,  :value => 0 %><br>
                          <%= f.hidden_field :hop_id, :value => c.id %>
                          <%= f.hidden_field :user_id, :value => @current_user.id %>
                          <button type="button" class="btn btn-default new-image"><i class="fa fa-paperclip"></i> Inserir imagem de anexo</button>
                          <br>
                          <div class="image hidden">
                            <br>
                            <%= f.file_field :picture %>
                          </div>
                          <br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                          <button type="submit" class="btn btn-primary">Comentar</button>
                        </div>
                      <% end %>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div id="terms-<%= c.id %>" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">TERMO DE APROVAÇÃO E ANUÊNCIA</h4>
                      </div>
                      <div class="modal-body">
                        <p class="text-justify"><%= @current_user.client.name %>, com sede na Rua <%= @current_user.client.street %>, inscrita no CNPJ/MF sob o nº <%= @current_user.client.cnpj %>, neste ato representada pelo Sr. <%= @current_user.name %>, portador da cédula de identidade nº <%= @current_user.rg %> e inscrito no CPF/MF sob o nº <%= @current_user.cpf %>, declara a quem possa interessar e para os devidos fins de direito a ciência e anuência do desenvolvimento da etapa "<%= c.name %>" correspondente ao estágio "<%= c.stage.name %>" do projeto, podendo a CONTRATADA dar continuidade às etapas subsequentes do projeto, nos estritos termos do Contrato de Prestação de Serviços nº <%= @current_user.client.contract %>.</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="button" onclick="javascript: location.href='<%= approve_path(c.id) %>'" class="btn btn-primary">Aprovar</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <% end %>
              </table> 
            </div>
          </div>
          <!-- /.box -->
          <% end %>
        </div>
        
      </div>
      <!-- /.row -->
      

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.3.8
    </div>
    <strong>Copyright &copy; 2017 <a href="http://mobile2you.com.br">Mobile2You</a>.</strong> All rights
    reserved.
  </footer>


</div>
<!-- ./wrapper -->



<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.6 -->
<script src="/bootstrap/js/bootstrap.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- jQuery Knob -->
<script src="../../plugins/knob/jquery.knob.js"></script>
<script type="text/javascript">
  
  $(function(){

    $('.new-image').on('click', function(){
      $(this).parent().children('div').removeClass('hidden');
      $(this).parent().children('#comment_has_image').val(1);
    });

    $('[name-id]').on('click', function(){
      var id = $(this).attr('name-id');
      $('[name-id]').removeClass('active');
      $(this).addClass('active');
      $('[content-id]').fadeOut(500);
      setTimeout(function(){
        $('[content-id="'+id+'"]').fadeIn(500);
      }, 600);
    });

    $('[action="/new_comment_path"]').on('submit', function(e){
      $('body').prepend('<div id="overlay" style="position:fixed; z-index:999999; display:flex; align-items:center; justify-content:center; width:100%; height:100%; background:rgba(0,0,0,0.5); color:#fff;"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>');
      $.ajax({
        method: 'POST',
        url: '/new_comment_path',
        data: new FormData(this),
        dataType: 'JSON',
        processData: false,
        contentType: false,
      }).done(function(data){
        alert(data.message);
        console.log(data);
        location.reload();
      }).fail(function(data){
        $('#overlay').remove();
        alert('Erro, tente novamente mais tarde');
        console.log(data);
      });
      e.preventDefault();
    });


  });

</script>

</body>
</html>
