<%= form_for @customer do |f| %>
 
  <% if @customer.errors.any? %>
    <div id="alert alert-danger text-center">
      <h4>
        <%= pluralize(@customer.errors.count, "error") %> Impediram esse usuário de ser criado
      </h4>
      <ul>
        <% @customer.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
 <div class="row">
  <div class="col-md-6">
    <p>
      <%= f.label :razão_social %><br>
      <%= f.text_field :name, :class => 'form-control', :placeholder => 'Razão Social' %>
    </p>
    <div class="row">
      <div class="col-md-6">
            <p>
              <%= f.label :CNPJ %><br>
              <%= f.text_field :cnpj, :class => 'form-control', :placeholder => 'CNPJ' %>
            </p>
      </div>
      <div class="col-md-6">
          <p>
            <%= f.label :CEP %><br>
            <%= f.text_field :zip, :class => 'form-control', :placeholder => 'CEP' %>
          </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label :bairro %><br>
          <%= f.text_field :neighborhood, :class => 'form-control', :placeholder => 'Bairro' %>
        </p>    
      </div>      
      <div class="col-md-6">
        <p>
          <%= f.label :cidade %><br>
          <%= f.text_field :city, :class => 'form-control', :placeholder => 'Cidade' %>
        </p>
      </div>
    </div>
    
     <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label :estado %><br>
          <%= f.text_field :state, :class => 'form-control', :placeholder => 'Estado' %>
        </p>    
      </div>
      <div class="col-md-6">
        <p style="padding-top:20px">
          <%= f.check_box :has_maintenance %> &nbsp; 
          <%= f.label :possui_manutenção %><br>
        </p>
      </div>
    </div>

    <div class="row maintenance hidden">
      <div class="col-md-6">
        <p>
          <%= f.label :horas_totais_de_manutenção %><br>
          <%= f.number_field :total_maintenance, :class => 'form-control', :placeholder => 'Horas totais de manutenção' %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <%= f.label :horas_de_manutenção_utilizadas %><br>
          <%= f.number_field :used_maintenance, :class => 'form-control', :placeholder => 'Horas usadas de manutenção' %>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <p>
      <%= f.label :nome %><br>
      <%= f.text_field :fantasy_name, :class => 'form-control', :placeholder => 'Nome' %>
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label :telefone %><br>
          <%= f.text_field :phone, :class => 'form-control', :placeholder => 'Telefone' %>
        </p>
      </div>
      <div class="col-md-6">
        <p>
          <%= f.label :número_da_proposta %><br>
          <%= f.text_field :contract, :class => 'form-control', :placeholder => 'Proposta' %>
        </p>
      </div>
    </div>
    <p>
      <%= f.label :endereço %><br>
      <%= f.text_field :street, :class => 'form-control', :placeholder => 'Endereço' %>
    </p>
    <div class="row">
      <div class="col-md-6">
        <p>
          <%= f.label :número %><br>
          <%= f.text_field :number, :class => 'form-control', :placeholder => 'Número' %>
        </p>    
      </div>
      <div class="col-md-6">
        <p>
          <%= f.label :complemento %><br>
          <%= f.text_field :complement, :class => 'form-control', :placeholder => 'Complemento' %>
        </p>
      </div>
    </div>
    <p>
      <%= f.label :país %><br>
      <%= f.text_field :country, :class => 'form-control', :placeholder => 'País' %>
    </p>

  </div>
 </div>
 
  <p>
    <%= f.submit( {:class => 'btn btn-primary'}) %>
  </p>
 
<% end %>

<script type="text/javascript">
  $(function(){

    $('#customer_zip').mask('99999-999');
    $('#customer_phone').mask('(99) 9999-9999?9');
    $('#customer_cnpj').mask('99.999.999/9999-99');

    $('#customer_zip').on('focusout', function(){
      var cep = $(this).val().replace('-','');
      $.ajax({
        url: 'https://viacep.com.br/ws/'+cep+'/json/',
        dataType: 'JSON'
      }).done(function(data){
        console.log('Sucesso');
        $('#customer_neighborhood').val(data.bairro).click();
        $('#customer_street').val(data.logradouro).click();
        $('#customer_state').val(data.uf).click();
        $('#customer_city').val(data.localidade).click();
        $('#customer_country').val('Brasil').click();
        console.log(data);
      }).fail(function(data){
        console.log('Fail');
        alert('CEP Não Encontrado');
        console.log(data);
      });
    });

  });
</script>